<div class="cc-modal-layout" *ngIf="modalStatus">
    <div class="modal-dialog cc-modal">
        <div class="modal-content">
            <div class="modal-header container d-flex align-items-center justify-content-center">
                <h5 class="cc-modal-header">{{modalName}}</h5>
            </div>
            <div class="modal-body container d-flex align-items-center justify-content-center">
                <img [src]="imageName" alt="./assets/images/ingenico-screens/privacy-policy.png"
                    class="img-responsive cc-modal-ingenico">
            </div>
            <div class="modal-footer container d-flex align-items-center justify-content-center">
                <lottie-player src="./assets/animations/process.json" background="transparent" speed="1" loop autoplay
                    class="cc-modal-animation"></lottie-player>
            </div>
        </div>
    </div>
</div>