<div class="cc-homescreen">
    <div class="cc-sidebar">
        <div class="cc-sidebar-item" (click)="onCashAdvanceClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/Cash Advance Icon.svg" alt="Cash Advance">
            <label class="cc-sidebar-label" for="cashadvance">Cash Advance</label>
        </div>
        <div class="cc-sidebar-item" (click)="onCheckCashingClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/Check Transactions Icon.svg" alt="Check Cashing">
            <label class="cc-sidebar-label" for="checkcashing">Check Transactions</label>
        </div>
        <div class="cc-sidebar-item" (click)="onNoPClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/Wallet Icon.svg" alt="Wallet Transactions">
            <label class="cc-sidebar-label" for="wallet">Wallet Transactions</label>
        </div>
        <div class="cc-sidebar-item" (click)="onNoPClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/Void Icon.svg" alt="Void Transaction">
            <label class="cc-sidebar-label" for="cashadvance">Void Transaction</label>
        </div>
        <div class="cc-sidebar-item" (click)="onNoPClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/Reprint.svg" alt="Reprint">
            <label class="cc-sidebar-label" for="reprint">Reprint</label>
        </div>
        <div class="cc-sidebar-item" (click)="onNoPClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/Patron Not Present Icon.svg"
                alt="Patron Not Present">
            <label class="cc-sidebar-label" for="patronnotpresent">Patron Not Present</label>
        </div>
        <div class="cc-sidebar-item" (click)="onNoPClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/Patron Services Icon.svg" alt="Patron Services">
            <label class="cc-sidebar-label" for="patronservices">Patron Services</label>
        </div>
        <div class="cc-sidebar-item" (click)="onNoPClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/Reports Icon.svg" alt="Reports">
            <label class="cc-sidebar-label" for="reports">Reports</label>
        </div>
        <div class="cc-sidebar-item" (click)="onNoPClick()">
            <img class="cc-sidebar-item-icon" src="../../assets/icons/App Icon.svg" alt="App Configurations">
            <label class="cc-sidebar-label" for="appconfig">App Configuration</label>
        </div>
    </div>
    <div class="cc-menu">
        <div class="cc-shortcutpanel">
            <label class="cc-heading2" style="padding-left: 10px; padding-bottom: 32px;">Shortcut Panel</label>
            <div class="cc-shortcutitemcontainer">
                <div class="cc-shortcutpanelitem" (click)="onCashAdvanceClick()">
                    <img class="cc-shortcutpanelitem-icon" src="../../assets/icons/CashAdvance Large Icon.svg"
                        alt="Cash Advance">
                    <label class="cc-heading2 cc-shortcutpanellabel" for="cashadvance">Cash Advance</label>
                </div>
                <div class="cc-shortcutpanelitem" (click)="onNoPClick()">
                    <img class="cc-shortcutpanelitem-icon" src="../../assets/icons/Patron Settings Large Icon.svg"
                        alt="Pre Enrollment">
                    <label class="cc-heading2 cc-shortcutpanellabel" for="cashadvance">Pre-Enrollment</label>
                </div>
                <div class="cc-shortcutpanelitem" (click)="onNoPClick()">
                    <img class="cc-shortcutpanelitem-icon" src="../../assets/icons/Check Services Icon Large.svg"
                        alt="Additional Checks">
                    <label class="cc-heading2 cc-shortcutpanellabel" for="cashadvance">Additional Checks</label>
                </div>
                <div class="cc-shortcutpanelitem" (click)="onNoPClick()">
                    <img class="cc-shortcutpanelitem-icon" src="../../assets/icons/Wallet Icon Large.svg"
                        alt="Wallet Registration">
                    <label class="cc-heading2 cc-shortcutpanellabel" for="cashadvance">Wallet Registration</label>
                </div>
                <div class="cc-shortcutpanelitem" (click)="onNoPClick()">
                    <img class="cc-shortcutpanelitem-icon" src="../../assets/icons/Patron Settings Large Icon.svg"
                        alt="Patron Dashboard">
                    <label class="cc-heading2 cc-shortcutpanellabel" for="cashadvance">Patron Dashboard</label>
                </div>
                <div class="cc-shortcutpanelitem" (click)="onCheckCashingClick()">
                    <img class="cc-shortcutpanelitem-icon" src="../../assets/icons/Check Services Icon Large.svg"
                        alt="Check Cashing">
                    <label class="cc-heading2 cc-shortcutpanellabel" for="cashadvance">Check Cashing</label>
                </div>
            </div>
        </div>
    </div>
</div>