<div class="cc-modal-layout" *ngIf="isDisplay">
    <div class="modal-dialog cc-modal">
        <div class="modal-content">
            <div class="modal-header container d-flex align-items-center justify-content-center">
                <h5 class="cc-modal-header">Transaction {{modalName}}</h5>
            </div>
            <div class="modal-body container d-flex align-items-center justify-content-center">
                <img [src]="imagePath" alt="Transaction Approved" class="img-responsive cc-modal-image">
            </div>
        </div>
    </div>
</div>